<!DOCTYPE html>
<html>

<head>
    <title>Credit</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <h1>Liste de Credits</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Montant</th>


                </tr>
            </thead>
            <tbody *ngFor="let item of credit">
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.montant}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">

        <form #userForm="ngForm" novalidate (ngSubmit)="onSelect()">
            <fieldset>
                <legend>Ajouter un credit:</legend>

                <div class="form-group">
                    <label>Montant:</label>
                    <input name="montant" type="number" class="form-control" #montant="ngModel"
                        [class.is-invalid]="montant.invalid && montant.touched" required placeholder="Montant" ngModel
                        [(ngModel)]="crdt.montant">
                </div>

                <div class="form-group">
                    <label>Type:</label>
                    <input name="type" type="email" class="form-control" #type="ngModel"
                    [class.is-invalid]="type.invalid && type.touched" required placeholder="Type" ngModel
                        [(ngModel)]="crdt.type">
                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <input name="date" type="date" class="form-control" #date="ngModel"
                    [class.is-invalid]="date.invalid && date.touched" required placeholder="Date" ngModel
                        [(ngModel)]="crdt.date">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Ajout</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>